body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-bottom: -3px;
}

.cover{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(360deg,	#121212 0%,rgba(18, 18, 18, 0) 100%), url(./images/donation8.jpg);
    padding: 240px 0px;
}
.introduction{
    width: 100%;
    height: 100%;
    color: white;
    margin-top: -75px;
    text-align: center;
}
#header01{
    font-size: 65px;
    text-align: center;

}
#description01{
    font-weight: 100;
    margin-bottom: 65px;
}
.donate-button{
    padding: 20px 40px;
    color: white;
    background-color: #FF5959;
    text-decoration: none;
    border-radius: 5px;
    font-size: large;
}
.donation-amount{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#header-D-today{
    font-size: 50px;
    font-weight:bolder;
}
#description02{
    font-weight: 100;
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
}
.flexible-container{
    display: flex;
    padding-left: 21%;
}
.amounts{
    padding: 15px 30px;
    background-color: whitesmoke;
    color: #707070;
    margin-left: 22px;
    margin-top: 25px;
    margin-right: 0px;
    border-radius: 5px;
}
.desired-amount{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
    font-weight: 900;
}
#otherAmount{
    color: #B3B3B3;
    font-weight: 100;
    margin-top: 35px;
}
hr{
    width: 765px;
    height: 1px;
    border: none;
    background-color: #DADADA;
    margin-bottom: 55px;
}
.donation-plan{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
#description03{
    color: #707070;
    font-weight: 100;
    font-size: 16px;
    text-align: left;
    border-radius: 5px;
}

.d-plan-flexible{
    display: flex;
    padding-right: 85px;
    padding-left: 85px;
    margin-top: 20px;
}
.plan-flexed{
    padding: 10px 40px;
    margin-left: 24px;
    margin-right: 0px;
    margin-right: 0px;
}
#agenda-title{
    text-align:left;
    font-weight: 800;
}
#agenda-icon{
    margin-top: 65px;
    margin-left: -85%;
}

.house{
    width: 360px;
    height: 352px;
    border-radius: 5px;
    background-color:rgba(79, 157, 166, .1)
}
.food{
    width: 360px;
    height: 352px;
    border-radius: 5px;
    background-color: rgba(255, 89, 89, 0.1);
}
.education{
    width: 360px;
    height: 352px;
    border-radius: 5px;
    background-color: #FFF4D6;
}